<p id="notice"><%= notice %></p>

<h1><center>Listing Molecules</centre></h1>

<table class="table hoverable">
  <thead>
    <tr>
      <th class="center-align">ID</th>
      <th class="center-align">Name</th>
      <th class="center-align">Synonyms</th>
      <th class="center-align">Interact</th>
      <th class="center-align"colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @molecules.each do |molecule| %>
      <tr>
        <td class="center-align"><%= molecule.id %></td>
        <td><%= molecule.name %></td>
        <td><%= @hash[molecule.name] %></td>
        <td><%= molecule.get_interacts %></td>
        <td class="center-align">
          <%= link_to raw('<i class="material-icons">search</i>Search'), molecule, data: { confirm: 'Searching for "' + molecule.name + '"' } %>
          <%= link_to raw('<i class="material-icons">mode_edit</i>Edit'), edit_molecule_path(molecule)  %>
          <%= link_to raw('<i class="material-icons">delete</i>Destroy'), molecule, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Molecule', new_molecule_path, class: "btn btn-default" %>
