<p id="notice"><%= notice %></p>

<h1><center>Listing Molecules</centre></h1>

<table border="1" style= "width:80%;margin-left:10%; margin-right:10%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Synonyms</th>
      <th>Interact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @molecules.each do |molecule| %>
      <tr>
        <td><%= molecule.id %></td>
        <td><%= link_to molecule.name, molecule %></td>
        <td><%= @hash[molecule.name] %></td>
        <td><%= molecule.get_interacts %></td>
        <td style= "width:30%">
          <%= link_to 'Show', molecule %>
          <%= link_to 'Edit', edit_molecule_path(molecule) %>
          <%= link_to 'Destroy', molecule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Molecule', new_molecule_path %>
