<p id="notice"><%= notice %></p>

<h1><center>Listing Molecule Synonyms</centre></h1>

  <table class="table hoverable">
    <thead>
      <tr>
        <th class="center-align">ID</th>
        <th class="center-align">Synonym</th>
        <th class="center-align">Molecule</th>
        <th class="center-align" colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @molecule_synonyms.each do |molecule_synonym| %>
      <tr>
        <td class="center-align"><%= molecule_synonym.id %></td>
        <td class="center-align"><%= molecule_synonym.synonym %></td>
        <td class="center-align"><%= molecule_synonym.molecule.name %></td>
        <td class="center-align">
          <%= link_to link_to raw('<i class="material-icons">visibility</i>Show'), molecule_synonym %>
          <%= link_to link_to raw('<i class="material-icons">mode_edit</i>Edit'), edit_molecule_synonym_path(molecule_synonym) %>
          <%= link_to link_to raw('<i class="material-icons">delete</i>Destroy'), molecule_synonym, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Molecule synonym', new_molecule_synonym_path, class: "btn btn-default" %>
