  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="center-align">ID</th>
        <th class="center-align">Name</th>
        <th class="center-align">Synonym</th>
        <th class="center-align" colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @molecule.each do |molecule| %>
        <tr data-link="<%= 'molecule/' + molecule.id.to_s %>" style="cursor: pointer;">
          <td><%= molecule.id %></td>
          <td><%= molecule.name %></td>
          <td><%= @hash[molecule.name] %></td>
          <td><%= link_to raw('<i class="large material-icons">delete</i>ลบพื้นที่เพาะปลูก'), molecule, method: :delete, data: { confirm: 'ต้องการที่จะลบพื้นที่เพาะปลูกใช่หรือไม่?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
