<p id="notice"><%= notice %></p>

<h1><center>Listing Attentive</centre></h1>

  <table class="table hoverable">
    <thead>
      <tr>
        <th class="center-align">ID</th>
        <th class="center-align">Attentive word</th>
        <th class="center-align" colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @sentences.each do |sentence| %>
      <tr>
        <td class="center-align"><%= sentence.id %></td>
        <td class="center-align"><%= sentence.sen %></td>
        <td class="center-align">
          <%= link_to raw('<i class="material-icons">visibility</i>Show'), sentence %>
          <%= link_to raw('<i class="material-icons">mode_edit</i>Edit'), edit_sentence_path(sentence) %>
          <%= link_to raw('<i class="material-icons">delete</i>Destroy'), sentence, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Attentive Word', new_sentence_path, class: "btn btn-default" %>
