<p id="notice"><%= notice %></p>

<h1><center>Listing Interacts</centre></h1>

<table class="table">
  <thead>
    <tr>
      <th class="center-align">ID</th>
      <th class="center-align">Molecule_1</th>
      <th class="center-align">Molecule_2</th>
      <th class="center-align">Source</th>
      <th class="center-align"colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @interacts.each do |interact| %>
      <tr>
        <td><%= interact.id %></td>
        <td><%= @molecules.find(interact.m1).name %></td>
        <td><%= @molecules.find(interact.m2).name %></td>
        <td><%= interact.source %></td>
        <td><%= link_to raw('<i class="material-icons">visibility</i>Show'), interact %></td>
        <td><%= link_to raw('<i class="material-icons">delete</i>Destroy'), interact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interact', new_interact_path, class: "btn btn-default" %>
