<p id="notice"><%= notice %></p>

<p>
  <strong>Molecule_1:</strong>
  <%= @molecules.find(@interact.m1).name %>
</p>

<p>
  <strong>Molecule_2:</strong>
  <%= @molecules.find(@interact.m2).name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @interact.source %>
</p>

<%= link_to 'Back', interacts_path %>
