<p id="notice"><%= notice %></p>

<p>
  <strong>M1:</strong>
  <%= @interact.m1 %>
</p>

<p>
  <strong>M2:</strong>
  <%= @interact.m2 %>
</p>

<p>
  <strong>Source:</strong>
  <%= @interact.source %>
</p>

<%= link_to 'Edit', edit_interact_path(@interact) %> |
<%= link_to 'Back', interacts_path %>
