<p id="notice"><%= notice %></p>

<h1><center>Listing Results</centre></h1>

<table class="table hoverble">
  <thead>
    <tr>
      <th class="center-align">ID</th>
      <th class="center-align">Time</th>
      <th class="center-align">Molecule Name</th>
      <th class="center-align">Status</th>
      <th class="center-align" colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td class="center-align"><%= result.id%></td>
        <td class="center-align"><%= result.created_at.in_time_zone("Japan").to_s[0..-7] %></td>
        <td><%= result.get_name %></td>
        <td class="center-align">
          <% if result.get_status == "Finish!" %>
            <b style ="color:green"><%= result.get_status %><b>
          <% else %>
            <b style ="color:red"><%= result.get_status %><b>
          <% end %>
        </td>
        <td class="center-align">
        <% if result.get_status == "Finish!" %>
          <%= link_to raw('<i class="material-icons">visibility</i>Result'), result %>
          <%= link_to raw('<i class="material-icons">delete</i>Destroy'), result, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path, class: "btn btn-default" %>
