<p id="notice"><%= notice %></p>



  <h3 class="center-align">Searching for: <%= @name %></h3>

  <h5>Number of Output: <%= @num %></h5><br>


  <h5>Time Spending: <%= @time %></h5><br>


  <h5>Duplicate Word:</h5>

<table class = "hoverable">
  <thead>
    <tr>
      <th>Word</th>
      <th>Frequency</th>
    </tr>
  </thead>

  <tbody>
    <% @dup.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
  <h4>Result:</h4>

  <table class="table hoverable">
  <thead>
    <tr>
      <th>Interesting word</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <% @res.each do |arr| %>
      <tr>
        <td><%= arr[0] %></td>
        <td><%= link_to arr[1].to_s, arr[1], :target => "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<%= link_to 'Back', results_path, class: "btn btn-default" %>
