<p id="notice"><%= notice %></p>

<h1><center>Listing Extract Words</centre></h1>

<table  class="table"  border="1" style= "width:80%;margin-left:10%; margin-right:10%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Word</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extract_words.each do |extract_word| %>
      <tr>
        <td><%= extract_word.id%></td>
        <td><%= extract_word.word %></td>
        <td><%= link_to 'Show', extract_word %></td>
        <td><%= link_to 'Edit', edit_extract_word_path(extract_word) %></td>
        <td><%= link_to 'Destroy', extract_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extract word', new_extract_word_path, class: "btn btn-default" %>
