<p id="notice"><%= notice %></p>

<h1><center>Listing Ignoring Words</centre></h1>

  <table  class="table hoverable">
    <thead>
      <tr>
        <th class="center-align">ID</th>
        <th class="center-align">Ignoring Word</th>
        <th class="center-align" colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @extract_words.each do |extract_word| %>
      <tr>
        <td class="center-align"><%= extract_word.id%></td>
        <td class="center-align"><%= extract_word.word %></td>
        <td class="center-align">
          <%= link_to link_to raw('<i class="material-icons">visibility</i>Show'), extract_word %>
          <%= link_to link_to raw('<i class="material-icons">mode_edit</i>Edit'), edit_extract_word_path(extract_word) %>
          <%= link_to link_to raw('<i class="material-icons">delete</i>Destroy'), extract_word, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Ignoring Word', new_extract_word_path, class: "btn btn-default" %>
